<div class="bgPrimary">
    <div class="footer container colorWhite">
        <div class="footerContact">
            <div class="footerLink">
                <ul class="footerLink-menu pc">
                    <li><a class="colorWhite" href="index.html">首頁</a></li>
                    <li><a class="colorWhite" href="productOptical.html">系列鏡框</a></li>
                    <li><a class="colorWhite" href="store.html">門市據點</a></li>
                    <li><a class="colorWhite" href="blog.html">部落格</a></li>
                    <li><a class="colorWhite" href="questions.html">常見問題</a></li>
                </ul>
            <a class="footerContact-info colorWhite" href="tel:0800-000-000"><span class="material-symbols-outlined">call</span>0800-000-000</a>
            <a class="footerContact-info colorWhite" href="mail:glasses@business.com"><span class="material-symbols-outlined">mail</span>glasses@business.com</a>
            </div>
            <ul class="footerLink-social">
                <li><a href="#"><img src="/assets/images/ic-social-fb.png" alt="facebook"></a></li>
                <li><a href="#"><img src="/assets/images/ic_social_ig.png" alt="instagram"></a></li>
                <li><a href="#"><img src="/assets/images/ic_social_line.png" alt="line"></a></li>
            </ul>
            
        </div>
        <div class="copyRight">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li><a class="colorWhite" href="#">隱私權政策</a></li>
                <li><a class="colorWhite" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>