<div class="bgPrimary">
    <div class="header container">
        <h1 class="logo"><a href="index.html">眼鏡官網</a></h1>
        <ul class="menu">
            <li><a class="colorWhite" href="productOptical.html">系列鏡框</a></li>
            <li><a class="colorWhite" href="store.html">門市據點</a></li>
            <li><a class="colorWhite" href="blog.html">部落格</a></li>
            <li><a class="colorWhite" href="questions.html">常見問題</a></li>
        </ul>
    </div>
</div>