.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

.logo{
	background-image: url(/assets/images/Web/logo-new_工作區域1.png);
	background-position: center center;
	box-sizing: contain;
	background-repeat: no-repeat;

	a{
		width: 80px;
		height: 50px;
		display: block;
		text-indent: 101%;
		white-space: nowrap;
		overflow: hidden;
	}
	
}

.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;

	a{
		display: block;
		font-size: $fz-8;
		color: $colorWhite;
		text-align: center;
		&:hover{
			color: $colorSecondary;
		}
	}
}

@media (max-width:710px) {
	.header{
		flex-direction: column;
		justify-content: start;
		padding-top:15px;
		padding-bottom: 0;
	}

	.logo{
		margin-right: auto;
		margin-bottom: 15px;
	}
	
	.menu {
		width: 100%;
		flex-wrap: wrap;
		gap: 0;

		li{
			width: 50%;
			margin-bottom: 0;
		}

		a{
			padding-top:12px;
			padding-bottom: 12px;
			font-size: $fz-11;
			border: $colorWhite 1px solid;

			&:hover{
				color: white;
				background-color: $colorSecondary;
			}
		}
	}
}