//顏色
$colorPrimary:#AA0601;
$colorSecondary:#650300;
$colorWhite:#FFFFFF;
$colorBlack:#000;
$colorLight:#FBF2F2;
$colorProductDark:#5F3E2D;
$colorProductLight:#B75929;
$colorGrayDark:#555555;
$colorGrayLight:#707070;
$colorGray:#495057;

//font-size
$fz-1:64px;
$fz-2:48px;
$fz-3:42px;
$fz-4:40px;
$fz-5:36px;
$fz-6:32px;
$fz-7:24px;
$fz-8:20px;
$fz-9:19px;
$fz-10:18px;
$fz-11:16px;
$fz-12:14px;

//font-weight
$fw-regular:400;
$fw-medium:600;
$fw-bold:700;
$fw-black:900;