<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <ul class="seriesMenu container">
      <li><a href="productOptical.html" class="roboto-medium">OPTICAL</a></li>
      <li><a href="productSunglasses.html" class="roboto-medium">SUNGLASSES</a></li>
      <li><a href="#" class="roboto-medium">FUNCTIONAL</a></li>
    </ul>
    <div class="seriesPic">
      <div class="product-header-3"></div>
      <div class="product-header-4"></div>
    </div>
    <div class="productlist container">
      <h3 class="roboto-medium">Celluloid Combi</h3>
      <h4>賽璐珞鈦金屬混合鏡框</h4>
      <ul class="product">
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-7.png" alt="product-7">
          <div class="product-info">
            <p class="productlist-model roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-8.png" alt="product-8">
          <div class="product-info">
            <p class="productlist-model roboto-regular roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-9.png" alt="product-9">
          <div class="product-info">
            <p class="productlist-model roboto-regular roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-10.png" alt="product-10">
          <div class="product-info">
            <p class="productlist-model roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-11.png" alt="product-11">
          <div class="product-info">
            <p class="productlist-model roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
        <li class="product-sun">
          <a href="#">
          <img src="/assets/images/product-12.png" alt="product-12">
          <div class="product-info">
            <p class="productlist-model roboto-regular">BJ41600S</p>
            <p class="productlist-price roboto-medium colorPrimary">NTD3,490</p>
          </div>
          <div class="product-color">
            <div class="bgProductDark" style="width: 24px; height: 24px;"></div>
            <div class="bgProductLight" style="width: 24px; height: 24px;"></div>
          </div>
        </a>
        </li>
      </ul>
      <ul class="productPages">
        <li><a href="#" class="pages-next">上一頁</a></li>
        <li><a href="#" class="pages-num">1</a></li>
        <li><a href="#" class="pages-num">2</a></li>
        <li><a href="#" class="pages-num">3</a></li>
        <li><a href="#" class="pages-num">4</a></li>
        <li><a href="#" class="pages-num">5</a></li>
        <li><a href="#" class="pages-next">下一頁</a></li>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
